[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
scikit-learn = "*"
jinja2 = "*"
lxml = "*"
plotly-express = "*"
nbformat = "*"
plotly = "==5.18.0"
openpyxl = "*"
dash = "*"
geojson = "*"
html5 = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3.12"
